body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f1f3f5;
    margin-top: 0px !important;
}

.grid-center {
    text-align: center;
}

.grid-right {
    text-align: end;
}

.backdrop {
    z-index: 999999 !important;
    color: #328f7c;
}
