#custom-combo-box {
    width: 100%;
}

input {
    text-align: center !important;
}

.MuiInput-underline:after {
    border-color: #328f7c !important;
}

.MuiFormControl-root{
    height: 100% !important;
}

.MuiInput-root {
    height: 100% !important;
}

.MuiInputBase-input {
    height: 100% !important;
}