.chart {
    padding: 160px 50px 200px 50px;
}

.chart input{
    outline: none;
    font-family: 'Montserrat', sans-serif !important;
    background-color: transparent !important;
    border: 0px;
    text-align: center;
}

.chart input:focus{
    border-bottom: 1px black solid;
}


.chart-name {
    font-size: 3em;
}

.chart-author {
    font-size: 1.6em;
    text-align: start !important;
    width: 100%;
}

#send-chords-btn {
    background-color: #328f7c;
}

.add-measures {
    height: 200px;
    text-align: center;
}

#add-measures-btn {
    background-color: #328f7c;
    position: relative;
    top: 35%;
}
.add-measures:hover {
    background-color: #969FAA;
}

/* Measure */

.measure {
    height: 200px;
    background-color: transparent;
    display: inline-flex;
    border-right: 5px solid #969FAA;
    border-left: 5px solid #969FAA;
    outline: 5px solid #f1f3f5;
    margin: 15px 0px 15px 0px !important;
    box-shadow: 5px 5px yellow !important;
}

.measure:first-child {
    border-left: 5px solid #969FAA;
}

.measure:first-child > .measure-div {
    border-left: 5px solid #969FAA;
}

.measure:nth-last-child(2) {
    border-right: 5px solid #969FAA !important;
}

.measure:nth-last-child(2) > .measure-div {
    border-right: 5px solid #969FAA;
}

.measure-div {
    position: relative;
    margin: 0px 3px 0px 3px;
    width: 100%;
}

.measure-div > div {
    width: 100%;
    height: 100%;
}

.measure-div > div .MuiInput-underline:before{
    border: 0px !important;
}
.measure-div > div input {
    position: relative;
    background-color: transparent !important;
    font-size: 3.7em;
    width: 100%;
    height: 95% !important;
    text-align: center;
    border: 0px !important;
}

.measure-div > div:focus {
    background-color: rgba(215, 221, 228, 0.93) !important;
    border: 0px !important;
    outline: 0px !important;
}

.measure-div:hover {
    background-color: rgba(215, 221, 228, 0.93);
}

.measure-btn {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #969FAA;
    cursor: pointer;
    width: 35px !important;
    height: 30px !important;
}

#add-chord-btn {
    position: absolute;
    right: 0px;
    z-index: 2 !important;
}

#remove-chord-btn {
    position: absolute;
    right: 45px;
    z-index: 1;
}

#add-chord-btn:hover {
    background-color: #328f7c !important;
    color: white;
}

#remove-chord-btn:hover {
    background-color: #f44336 !important;
    color: white;
}






/* Chart controls */
.chart-controls {
    padding: 0px 50px 0px 50px;
    background-color: #f1f3f5;
    border-top: #328f7c 2px solid;
}

#groove-selector-i {
    color: #328f7c;
    margin-left: 25%;
}

#groove-combo-box-label{
    color: #328f7c !important;    
}

/* Tempo */

.tempo-popover-content {
    padding: 10px;
    width: 350px;
    color: #328f7c;
    margin: auto;    
}

.tempo-popover-center {
    width: auto !important;
}

.tempo-popover-number {
    font-size: 1.8em;
    font-weight: bold;
}

.tempo-popover-bpm {
    font-size: 0.6em !important;
    font-weight: bold;
}

.tempo-popover-slider {
    color: #328f7c !important;
}