.chart {
    padding: 160px 50px 200px 50px;
}

.chart-name {
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}


#send-chords-btn {
    background-color: #328f7c;
}

.add-measures {
    height: 200px;
    width: 370px;
    border-left: 5px solid #969FAA;
    text-align: center;
}

#add-measures-btn {
    background-color: #328f7c;
    position: relative;
    top: 35%;
}
.add-measures:hover {
    background-color: rgba(215, 221, 228, 0.93);
}

/* Measure */

.measure {
    height: 200px;
    background-color: transparent;
    display: inline-flex;
    border-left: 5px solid #969FAA;
    margin: 20px 0px 20px 0px;
}

.measure > input {
    background-color: transparent;
    font-size: 4em;
    width: 370px;
    text-align: center;
    border: 0px;
}

.measure > input:hover {
    background-color: rgba(215, 221, 228, 0.93);
}

/* Chart controls */
.chart-controls {
    padding: 0px 50px 0px 50px;
    background-color: rgba(215, 221, 228, 0.43);
    border-top: #328f7c 2px solid;
}

/* Tempo */

.tempo-popover-content {
    padding: 10px;
    width: 350px;
    color: #328f7c;
    margin: auto;    
}

.tempo-popover-center {
    width: auto !important;
}

.tempo-popover-number {
    font-size: 1.8em;
    font-weight: bold;
}

.tempo-popover-slider {
    color: #328f7c !important;
}