.header {
    background-color: rgba(215, 221, 228, 0.43);
    padding: 0px 50px 0px 50px;
}

#title {
    text-decoration: none;
    color: #328f7c;
}

.header-i {
    color: #328f7c;
}

.upload-groove-content {
    text-align: center;
}

#upload-groove-btn {
    background-color: #51F0CC;
    margin-top: 30px;
}

#upload-groove-btn-i {
    margin-right: 10px;
}

#upload-groove-input {
    display: none;
}
