.player {
    background-color: #969FAA;
    padding: 10px 50px 10px 50px;
}

.player-i {
    margin-left: 10px;
    cursor: pointer;
}

.player-i:first-child {
    margin-left: 0px;
}

.player-i:active {
    color: #51F0CC !important;
}

.player-i-active {
    margin-left: 10px;
    cursor: pointer;
    color: #51F0CC !important;
}

.player-i-ctrls {
    margin-right: 30px;
    cursor: pointer;
}

.player-i-ctrls:last-child {
    margin-left: 3px;
    margin-right: 7px;
}

.player-time {
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.mixer {
    display: inline;
}